@model WebApplication2.Models.Costumer

@{
    ViewData["Title"] = "Details";
}
<div class="container" style="padding-left:10%;margin-left:7%;">
<h1>Details</h1>

<div>
    <h4>Costumer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</div>