@model IEnumerable<WebApplication2.Models.SellOrderDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quentite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SorderId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quentite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SorderId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
